.divContent {
    padding-left: 10px;
    padding-right: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 239, 239);
    flex-wrap: wrap;
    font-size: 21px;
    padding: 5px;
    margin-bottom: 5px;
  
}


.bi-trash3::before {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }